<div class="tasks-container">
  <div class="text-heading">Scheduled</div>
  <hr />
  @if (isLoading1()) {
    <app-load-indicator class="center" />
  } @else {
    <div class="table-container">
      <table class="tasks-table">
        <tr class="table-row header">
          <th class="name">Name</th>
          <th>Interval</th>
          <th>Last Run</th>
          <th>Last Run Status</th>
          <th>Last Run Duration</th>
          <th>Next Run</th>
          <th></th>
        </tr>
        <!-- <p>{{ scheduledTasks }}</p> -->
        @for (task of scheduledTasks(); track task.id) {
          <tr class="table-row">
            <!-- <td class="name">{{ task.id }}: {{ task.name }}</td> -->
            <td class="name">{{ task.name }}</td>
            <td>{{ task.interval }}</td>
            <td>{{ task.last_run_start | timediff: 'Not run yet' | async }}</td>
            <td>{{ task.last_run_status }}</td>
            <td>{{ task.last_run_duration }}</td>
            <td>{{ task.next_run | timediff: 'Not scheduled' | async }}</td>
            @if (task.last_run_status.toLowerCase() != 'running') {
              <td title="Run task now" (click)="task.last_run_status = 'Running'; runTask(task.task_id)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                  <path
                    d="M382-306.67 653.33-480 382-653.33v346.66ZM480-80q-82.33 0-155.33-31.5-73-31.5-127.34-85.83Q143-251.67 111.5-324.67T80-480q0-83 31.5-156t85.83-127q54.34-54 127.34-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82.33-31.5 155.33-31.5 73-85.5 127.34Q709-143 636-111.5T480-80Z"
                  />
                </svg>
              </td>
            }
            @if (task.last_run_status.toLowerCase() == 'running') {
              <td title="Task is running">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="loading">
                  <path
                    d="M343-107q-120-42-194.5-146.5T74-490q0-29 4-57.5T91-604l-57 33-37-62 185-107 106 184-63 36-54-92q-13 30-18.5 60.5T147-490q0 113 65.5 200T381-171l-38 64Zm291-516v-73h107q-47-60-115.5-93.5T480-823q-66 0-123.5 24T255-734l-38-65q54-45 121-71t142-26q85 0 160.5 33T774-769v-67h73v213H634ZM598-1 413-107l107-184 62 37-54 94q123-17 204.5-110.5T814-489q0-19-2.5-37.5T805-563h74q4 18 6 36.5t2 36.5q0 142-87 251.5T578-96l56 33-36 62Z"
                  />
                </svg>
              </td>
            }
          </tr>
        }
      </table>
    </div>
  }
  <div class="text-heading">Queue</div>
  <hr />
  @if (isLoading2()) {
    <app-load-indicator class="center" />
  } @else {
    <div class="table-container last-table">
      <table class="tasks-table">
        <tr class="table-row header">
          <th class="name">Name</th>
          <th>Status</th>
          <th>Started</th>
          <th>Finished</th>
          <th>Duration</th>
        </tr>
        <!-- <p>{{ queuedTasks }}</p> -->
        @for (task of queuedTasks(); track task.id) {
          <tr class="table-row">
            <!-- <td class="name">{{ task.id }}: {{ task.name }}</td> -->
            <td class="name queue-name">
              <span>{{ task.name }}</span>
              <i [routerLink]="['/', RouteLogs]" [queryParams]="{filter: task.trace_id}" title="View Logs">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                  <path
                    d="M280-280h280v-80H280v80Zm0-160h400v-80H280v80Zm0-160h400v-80H280v80Zm-80 480q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
                  />
                </svg>
              </i>
            </td>
            <td>{{ task.status }}</td>
            <td>{{ task.started | timediff: 'Pending' | async }}</td>
            <td>{{ task.finished | timediff: '-' | async }}</td>
            <td>{{ task.duration }}</td>
          </tr>
        }
      </table>
    </div>
  }
</div>
