# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for more information:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# https://containers.dev/guide/dependabot

version: 2
updates:
  # Maintain dependencies for pip - devcontainer
  - package-ecosystem: "pip"
    directory: "/.devcontainer"
    schedule:
      interval: daily
    target-branch: "dev"
    open-pull-requests-limit: 5 # Limit the number of open PRs
    reviewers: # Add reviewers
      - "nandyalu"
  # Maintain dependencies for pip - backend
  # - package-ecosystem: "pip"
  #   directory: "/backend"
  #   schedule:
  #     interval: weekly
  #   target-branch: "main"
  #   open-pull-requests-limit: 3 # Limit the number of open PRs
  #   reviewers: # Add reviewers
  #     - "nandyalu"
  # Maintain dependencies for npm - frontend (Angular and rxjs only)
  # - package-ecosystem: "npm"
  #   directory: "/frontend"
  #   schedule:
  #     interval: weekly
  #   target-branch: "dev"
  #   open-pull-requests-limit: 3 # Limit the number of open PRs
  #   reviewers: # Add reviewers
  #     - "nandyalu"
  #   allow:
  #     - dependency-name: "@angular/*"
  #     - dependency-name: "rxjs"
