<div class="mainroot">
  <header class="topnavbar">
    <!-- Navbar content goes here -->
    <app-topnav></app-topnav>
  </header>
  <div class="mainbody">
    <div class="sidebar">
      <!-- Sidebar content goes here -->
      <app-sidenav></app-sidenav>
    </div>
    <div class="main-content">
      <!-- Main content goes here -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- Container to show Websocket messages received from server -->
  <div class="toast-container">
    <div *ngFor=" let msg of messages" class="toast" [ngClass]="msg.type.toLowerCase()">
      <span>{{msg.message}}</span>
    </div>
  </div>
</div>

<!-- Session Timed Out Dialog -->
<dialog #sessionEndedDialog>
  <div class="dialog-content" (click)="$event.stopPropagation()">
    <h2>Session Timed Out!</h2>
    <p>You we gone for a while, we closed your session!</p>
    <!-- <p>Click on 'Refresh' button below to refresh the page</p> -->
    <div class="loading-container">
      <div class="loading-container-inner">
        <div class="dash first"></div>
        <div class="dash seconde"></div>
        <div class="dash third"></div>
        <div class="dash fourth"></div>
      </div>
    </div>
    <button class="secondary" (click)="reloadPage()" tabindex="1">Refresh</button>
  </div>
</dialog>