.media-container {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.center {
  margin: auto;
}

.media-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;

  @media (width < 900px) {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.5rem;
    padding: 0.5rem;
  }
}

.media-card {
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  cursor: pointer;
  aspect-ratio: 2/3;
  position: relative;
}

.media-card img {
  width: 100%;
  border-radius: 10px;
}

.media-card svg {
  position: absolute;
  top: 5px;
  height: 24px;
  width: 24px;
}

.media-card .monitored-icon,
.media-card .downloaded-icon {
  fill: var(--color-info);
  right: 5px;
}

.media-card .movie-icon,
.media-card .series-icon {
  fill: var(--color-primary);
  left: 5px;
  bottom: 5px;
}

.media-card .success {
  fill: var(--color-success);
}

.media-card h5 {
  display: none;
}

.media-card:hover {
  border-radius: 15px;
  /* transform: scale(1.1); */
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);

}

.media-card:hover img {
  border-radius: 15px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.media-card:hover h5 {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--color-primary);
}