# Backend
aiohttp==3.11.14
aiofiles==24.1.0
alembic==1.15.2
apscheduler==3.11.0
async-lru==2.0.5
fastapi[standard]==0.115.12  # Update version in README.md as well
bcrypt==4.3.0
pillow==11.1.0
sqlmodel==0.0.24
yt-dlp[default]==2025.3.27