<div class="media-files-container">
  <div class="title-block">
    <h3 class="files-title">Files</h3>
    @if (filesOpened()) {
      <i class="icononly-button" [class.loading]="filesResource.isLoading()" title="Refresh" (click)="filesResource.reload()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="refresh-icon">
          <path
            d="M343-107q-120-42-194.5-146.5T74-490q0-29 4-57.5T91-604l-57 33-37-62 185-107 106 184-63 36-54-92q-13 30-18.5 60.5T147-490q0 113 65.5 200T381-171l-38 64Zm291-516v-73h107q-47-60-115.5-93.5T480-823q-66 0-123.5 24T255-734l-38-65q54-45 121-71t142-26q85 0 160.5 33T774-769v-67h73v213H634ZM598-1 413-107l107-184 62 37-54 94q123-17 204.5-110.5T814-489q0-19-2.5-37.5T805-563h74q4 18 6 36.5t2 36.5q0 142-87 251.5T578-96l56 33-36 62Z"
          />
        </svg>
      </i>
    } @else {
      <small class="files-open" (click)="filesOpened.set(true)">Click to open files</small>
    }
  </div>
  @if (filesOpened()) {
    <hr />
    @if (filesResource.isLoading()) {
      <app-load-indicator class="center" />
    } @else {
      <div class="media-files">
        @if (filesResource.error()) {
          <p class="text-sm text-center">Error: {{ filesError() }}</p>
          <!-- }
        @if (mediaFiles === undefined) {
          <p class="text-sm text-center">{{mediaFilesResponse}}</p> -->
        } @else {
          <!-- Header -->
          <div class="files-header sm-none text-sm">
            <div></div>
            <!-- Empty Col for Icons -->
            <div>Name</div>
            <div>Size</div>
            <div>Modified</div>
          </div>
          <!-- Content -->
          <ng-container *ngTemplateOutlet="folFileTemplate; context: {folderUntyped: filesResource.value()}"></ng-container>
        }
      </div>
    }
  }
</div>

<ng-template let-folderUntyped="folderUntyped" #folFileTemplate>
  @let folder = asFolderInfo(folderUntyped);
  <div class="files-accordion">
    <div class="files-header" (click)="openFolderOrOptions(folder)" [class.parent]="folder.type == 'folder'">
      <div class="files-icon">
        @if (folder.type === 'folder') {
          <!-- Show Folder Icon -->
          @if (folder.isExpanded) {
            <!-- Folder Open Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path
                d="M146.67-160q-26.34 0-46.5-20.17Q80-200.33 80-226.67v-506.66q0-26.34 20.17-46.5Q120.33-800 146.67-800H414l66.67 66.67h332.66q26.34 0 46.5 20.16Q880-693 880-666.67H146.67v440l100-373.33H940L834.33-209.67q-6.66 24.67-24.5 37.17Q792-160 766.67-160h-620Z"
              />
            </svg>
          } @else {
            <!-- Folder Closed Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path
                d="M146.67-160q-27 0-46.84-20.17Q80-200.33 80-226.67v-506.66q0-26.34 19.83-46.5Q119.67-800 146.67-800H414l66.67 66.67h332.66q26.34 0 46.5 20.16Q880-693 880-666.67v440q0 26.34-20.17 46.5Q839.67-160 813.33-160H146.67Z"
              />
            </svg>
          }
        } @else {
          <!-- File Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
            <path
              d="M319.33-246.67h321.34v-66.66H319.33v66.66Zm0-166.66h321.34V-480H319.33v66.67ZM226.67-80q-27 0-46.84-19.83Q160-119.67 160-146.67v-666.66q0-27 19.83-46.84Q199.67-880 226.67-880H574l226 226v507.33q0 27-19.83 46.84Q760.33-80 733.33-80H226.67Zm314-542.67h192.66L540.67-813.33v190.66Z"
            />
          </svg>
        }
      </div>
      <div class="files-name">{{ folder.name }}</div>
      <div class="files-size">{{ folder.size }}</div>
      <div class="files-modified">{{ folder.modified | date }}</div>
    </div>
    @if (folder.type === 'folder') {
      <div class="child">
        <!-- Child Folders -->
        @if (folder.isExpanded) {
          <!-- Recursive call for child folders -->
          @for (childFolder of folder.files; track childFolder) {
            <ng-container *ngTemplateOutlet="folFileTemplate; context: {folderUntyped: childFolder}"></ng-container>
          }
        }
      </div>
    }
  </div>
</ng-template>

<!-- Options Dialog -->
@if (optionsDialogOpen()) {
  <app-options-dialog
    [filePath]="selectedFilePath()"
    [fileName]="selectedFileName()"
    [mediaId]="mediaId()"
    (closed)="onOptionsDialogClosed()"
    (filesRefreshed)="onFilesRefreshed()"
  />
}
