:host {
  display: contents;
}

.center {
  margin: auto;
}

.text-center {
  text-align: center;
}

.media-files-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.media-files-container .media-files {
  width: 100%;
  display: block;
  border: 1px solid var(--color-outline);
  border-radius: 4px;
  background-color: var(--color-surface-container-high);
  color: var(--color-on-surface-variant);
  overflow-y: auto;
}

.media-files-container .files-title {
  margin: 0;
  margin-block: 0;
}

.files-header {
  grid-row: 1;
  display: grid;
  grid-template-columns: auto 6fr 1fr 2fr;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border: none;
  outline: none;
  transition: 0.4s;
  border-top: 1px solid var(--color-outline);
  position: relative;
  font-size: 0.75rem;

  @media (max-width: 765px) {
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr auto;
  }
}

.files-header::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -1rem;
  width: 1rem;
  height: 1px;
  background-color: var(--color-outline);
}

.files-accordion {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  border-left: 1px solid var(--color-outline);
  position: relative;
}

.files-accordion .parent {
  cursor: pointer;
}

.files-accordion .child {
  grid-row: 2;
  padding: 0 0 0 1rem;
  position: relative;
  cursor: pointer;
}

.child .files-accordion:last-child {
  border-bottom: 1px solid var(--color-outline);
  margin-bottom: 1rem;
}

.files-header .files-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 765px) {
    grid-row: 1 / span 2;
    grid-column: 1;
    justify-self: center;
  }
}

.files-header .files-name {
  font-size: 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  @media (max-width: 765px) {
    grid-row: 1;
    grid-column: 2 / span 2;
    justify-self: start;
  }
}

.files-header svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-on-surface);
}

@media (max-width: 765px) {
  .files-header .files-size {
    grid-row: 2;
    grid-column: 2;
    justify-self: start;
    margin-left: 0.25rem;
  }

  .files-header .files-modified {
    grid-row: 2;
    grid-column: 3;
    justify-self: end;
  }
}

dialog .loading-wave {
  margin: 4rem;
}

.dialog-content {
  margin: 1rem;
  position: relative;
}

.dialog-header {
  position: relative;
}

.dialog-content .close {
  position: absolute;
  top: 0;
  right: 0;
  /* padding: 1rem; */
  cursor: pointer;
  border-radius: 50%;

  svg {
    height: 2rem;
    width: 2rem;
    fill: var(--color-on-surface);
    padding: 0;
  }
}

.dialog-options {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* gap: 1rem; */
  padding: 1rem;
}

.icon-link {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  text-decoration: none;
  transition: all 0.4s;
  cursor: pointer;
  padding: 1rem 3rem 1rem 0;
  border-bottom: 1px solid var(--color-outline);
  font-size: 1.25rem;

  span {
    height: 1.5rem;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-on-surface);
    padding: 0;
    margin: 0 0.5rem;
  }
}

.danger-option {
  color: var(--color-error);

  svg {
    fill: var(--color-error);
  }
}

.rename-dialog,
.delete-dialog,
.text-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 1.5rem;
  max-width: 75vw;
  max-height: 75vh;

  @media (width < 765px) {
    max-width: 90vw;
    margin: 1rem;
  }
}

.delete-dialog {
  background-color: var(--color-on-error-container);
  color: var(--color-on-error);
  padding: 0 1rem 1rem;
  margin: 0;
  gap: 1rem;
}

#deleteFileDialog::backdrop {
  background-image: linear-gradient(0deg, grey, #690005);
}

.text-content {
  max-width: 75vw;
  max-height: 70vh;
  overflow-y: auto;
  border: 1px solid var(--color-outline);
  border-radius: 1rem;
  margin: 0.25rem;

  pre {
    padding: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: start;
    counter-reset: listing;
    line-height: 0;
    --indent: 2rem;
    --lineHeight: 2;

    code {
      counter-increment: listing;
      display: block;
      padding: 0 0 0 var(--indent);
      text-indent: calc(-1 * var(--indent));
      margin: 0;
      line-height: var(--lineHeight);
    }

    code::before {
      content: counter(listing) '. ';
      display: inline-block;
      width: var(--indent);
      padding-left: auto;
      margin-left: auto;
      text-align: right;
      color: var(--color-outline);
    }

    @media (width < 765px) {
      padding: 0.5rem;
      --indentSm: 1.5rem;
      --lineHeightSm: 1.25;

      code {
        padding: 0 0 0 var(--indentSm);
        text-indent: calc(-1 * var(--indentSm));
        line-height: var(--lineHeightSm);
      }

      code::before {
        width: var(--indentSm);
      }
    }
  }
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  width: 70%;
}

.rename-input {
  field-sizing: content;
  min-width: 50vw;
  max-width: 75vw;
  padding: 1rem;
  border: 1px solid var(--color-outline);
  border-radius: 1rem;
  font-size: 1.2rem;

  @media (width < 765px) {
    max-width: 90vw;
  }
}

.info-dialog,
.info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem;
  max-width: 75vw;
  align-items: center;
  max-height: 75vh;

  @media (width < 765px) {
    max-width: 90vw;
  }
}

.info-container {
  max-height: 65vh;
  overflow-y: auto;
}

section {
  width: 100%;
}

.info-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0.5rem;
  gap: 1rem;

  @media (width < 765px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
}

.info-content label,
.info-content span {
  font-weight: bold;
  text-align: left;
  width: 30%;

  @media (width < 765px) {
    width: 100%;
    font-weight: unset;
    font-style: italic;
    font-size: small;
  }
}

.info-content > :nth-child(2) {
  text-decoration: none;
  text-align: left;
  margin: 0;
  padding: 0.25rem;
}
