:host {
  display: inline-block;
}

.status-icon {
  width: 100%;
  height: 100%;
}

.status-icon.info {
  fill: var(--color-info);
}

.status-icon.warning {
  fill: var(--color-warning);
}

.status-icon.success {
  fill: var(--color-success);
}
