.trailer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* position: relative; */
}

.message-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 0;
    z-index: 20;
}

.update-message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: var(--color-success-text);
    background-color: var(--color-success);
    animation: slideInDown 0.3s ease-out forwards;
}

.error {
    color: var(--color-warning-text);
    background-color: var(--color-warning);
}

.trailer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem 0.5rem;
    gap: 1rem;
}

.content-label {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    width: 60%;
}

.trailer-content label {
    font-weight: bold;
    text-wrap: nowrap;
}

.trailer-content > svg {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    fill: var(--color-success);
}

.trailer-content > :nth-child(2) {
    text-decoration: none;
    text-align: left;
    margin: 0;
    padding: 0.25rem;
}

.text-input {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.text-input > input {
    width: 5rem;
    height: 3rem;
    padding: 0.25rem;
    text-align: center;
    font-family: inherit;
    background-color: var(--color-surface-container-high);
    color: var(--color-on-surface);
    border: 1px solid var(--color-outline);
    border-radius: 0.5rem;
}

.options-bar {
    display: flex;
    background-color: var(--color-surface-container-high);
    border-radius: 10px;
    border: 0.5px solid var(--color-outline);
}

.options-bar > .option {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s ease;
}

.options-bar > .selected {
    background-color: var(--color-tertiary-container);
    font-weight: 600;
    color: var(--color-on-tertiary-container);
}

@media screen and (max-width: 768px) {
    .trailer-content {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
    }

    .content-label {
        width: 100%;
        /* font-weight: unset; */
        /* font-style: italic; */
        /* font-size: small; */
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}