@let selectedMedia_ = selectedMedia();
<div class="media-details-container">
  @if (isLoading()) {
    <app-load-indicator class="center" />
  }
  @if (selectedMedia_) {
    <div class="media-details-card">
      @if (selectedMedia_.fanart_path) {
        <div
          class="media-fanart-overlay"
          [style]="'background-image: url(' + (selectedMedia_.fanart_path | removeStartingSlash) + ');'"
        ></div>
      }
      <div class="media-poster" [class.sm-none]="!selectedMedia_.poster_path" title="{{ selectedMedia_.title }} Poster">
        <img [src]="(selectedMedia_.poster_path | removeStartingSlash) || 'assets/poster-lg.png'" alt="{{ selectedMedia_.title }}" />
      </div>
      <div class="media-details-col">
        <div class="media-details-row">
          @if (selectedMedia_.trailer_exists) {
            <div class="icon-link" title="Trailer Downloaded">
              <!-- Show Downloaded icon -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="downloaded-icon success" aria-label="Trailer Exists">
                <path
                  d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q65 0 123 19t107 53l-58 59q-38-24-81-37.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q133 0 226.5-93.5T800-480q0-18-2-36t-6-35l65-65q11 32 17 66t6 70q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm-56-216L254-466l56-56 114 114 400-401 56 56-456 457Z"
                />
              </svg>
            </div>
          } @else {
            @if (isLoadingMonitor()) {
              <div class="icon-link" title="Updating Monitor Status">
                <!-- Show loading icon on click -->
                <!-- Cycle icon - Google Fonts -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="loading">
                  <path
                    d="M343-107q-120-42-194.5-146.5T74-490q0-29 4-57.5T91-604l-57 33-37-62 185-107 106 184-63 36-54-92q-13 30-18.5 60.5T147-490q0 113 65.5 200T381-171l-38 64Zm291-516v-73h107q-47-60-115.5-93.5T480-823q-66 0-123.5 24T255-734l-38-65q54-45 121-71t142-26q85 0 160.5 33T774-769v-67h73v213H634ZM598-1 413-107l107-184 62 37-54 94q123-17 204.5-110.5T814-489q0-19-2.5-37.5T805-563h74q4 18 6 36.5t2 36.5q0 142-87 251.5T578-96l56 33-36 62Z"
                  />
                </svg>
              </div>
            } @else {
              <div
                (click)="monitorMedia()"
                class="icon-link"
                [title]="selectedMedia_.monitor ? 'Monitored, click to change' : 'Not Monitored, click to change'"
              >
                @if (selectedMedia_.monitor) {
                  <span>
                    <!-- Show Monitored icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="monitored-icon" aria-label="Monitored">
                      <path
                        d="M713-600 600-713l56-57 57 57 141-142 57 57-198 198ZM200-120v-640q0-33 23.5-56.5T280-840h280q-20 30-30 57.5T520-720q0 72 45.5 127T680-524q23 3 40 3t40-3v404L480-240 200-120Z"
                      />
                    </svg>
                  </span>
                } @else {
                  <span>
                    <!-- Show Not Monitored icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="not-monitored-icon" aria-label="Not Monitored">
                      <path
                        d="M200-120v-640q0-33 23.5-56.5T280-840h240v80H280v518l200-86 200 86v-278h80v400L480-240 200-120Zm80-640h240-240Zm400 160v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80Z"
                      />
                    </svg>
                  </span>
                }
              </div>
            }
          }
          <span class="text-lg title-text" appCopyToClipboard [textToCopy]="selectedMedia_.title" [title]="selectedMedia_.title">
            {{ selectedMedia_.title }}
          </span>
          <!-- Add Previous and Next icons here -->
          @let _previousMedia = previousMedia();
          @let _nextMedia = nextMedia();
          <div class="nav-icons">
            @if (_previousMedia) {
              <!-- Show Previous icon only if _previousMedia is available -->
              <div class="icon-link left" [routerLink]="['/' + RouteMedia, _previousMedia.id]" [title]="_previousMedia.title">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                  <path d="m287-446.67 240 240L480-160 160-480l320-320 47 46.67-240 240h513v66.66H287Z" />
                </svg>
              </div>
            }
            @if (_nextMedia) {
              <!-- Show Next icon only if _nextMedia is available -->
              <div class="icon-link right" [routerLink]="['/' + RouteMedia, _nextMedia.id]" [title]="_nextMedia.title">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                  <path d="M673-446.67H160v-66.66h513l-240-240L480-800l320 320-320 320-47-46.67 240-240Z" />
                </svg>
              </div>
            }
          </div>
        </div>
        <div class="media-details-row">
          <span class="text-md" [title]="selectedMedia_.year">{{ selectedMedia_.year }}</span>
          <span class="text-md" [title]="selectedMedia_.runtime | durationConvert">{{ selectedMedia_.runtime | durationConvert }}</span>
        </div>
        <div class="media-details-row">
          @if (selectedMedia_.imdb_id) {
            <a href="https://www.imdb.com/title/{{ selectedMedia_.imdb_id }}/" target="_blank" title="IMDB Link">
              <img src="assets/IMDBlogo.png" alt="IMDB" class="xdb-icon" />
            </a>
          }
          @if (selectedMedia_.txdb_id) {
            @if (selectedMedia_.is_movie) {
              <a href="https://www.themoviedb.org/movie/{{ selectedMedia_.txdb_id }}" target="_blank" title="TMDB Link">
                <img src="assets/TMDBlogo.png" alt="TMDB" class="xdb-icon" />
              </a>
            } @else {
              <a href="https://www.thetvdb.com/?tab=series&id={{ selectedMedia_.txdb_id }}" target="_blank" title="TVDB Link">
                <img src="assets/TVDBlogo.png" alt="TVDB" class="xdb-icon" />
              </a>
            }
          }
          @if (arr_url()) {
            @if (selectedMedia_.is_movie) {
              <a [href]="arr_url()" target="_blank" title="Radarr Movie Link">
                <img src="assets/radarr_128.png" alt="Radarr" class="arr-icon" />
              </a>
            } @else {
              <a [href]="arr_url()" target="_blank" title="Sonarr Movie Link">
                <img src="assets/sonarr_128.png" alt="TVDB" class="arr-icon" />
              </a>
            }
          }
        </div>
        <div class="media-details-row extras">
          <span>
            <div class="labeled-text" [title]="selectedMedia_.folder_path">
              <span class="label">Path</span>
              <span class="text-sm" appCopyToClipboard [textToCopy]="selectedMedia_.folder_path">
                <code>{{ selectedMedia_.folder_path }}</code>
              </span>
            </div>
          </span>
          <span>
            <div class="labeled-text">
              <span class="label">Status</span>
              <span class="text-sm tooltip"
                >{{ selectedMedia_.status | titlecase }}
                <span class="tooltiptext">
                  @if (!selectedMedia_.is_movie) {
                    <p>Seasons: {{ selectedMedia_.season_count }}</p>
                  }
                  <p>Monitored: {{ selectedMedia_.monitor }}</p>
                  <p>Downloaded: {{ selectedMedia_.trailer_exists }}</p>
                  <p>Added: {{ selectedMedia_.added_at.toLocaleString() }}</p>
                  <p>Updated: {{ selectedMedia_.updated_at.toLocaleString() }}</p>
                  @if (selectedMedia_.downloaded_at && selectedMedia_.downloaded_at.toString() != 'Invalid Date') {
                    <p>Downloaded: {{ selectedMedia_.downloaded_at.toLocaleString() }}</p>
                  } @else {
                    <p>Downloaded: Never</p>
                  }
                </span>
              </span>
            </div>
          </span>
        </div>
        <div class="media-details-row">
          <div class="labeled-text" title="Overview">
            <span class="label">Overview</span>
            <span class="text-sm">{{ selectedMedia_.overview }}</span>
          </div>
        </div>
        <div class="media-details-row">
          <div class="labeled-text">
            <span class="label">Trailer</span>
            <div class="input-row">
              <div class="labeled-input">
                <span class="text-md sm-none">https://www.youtube.com/watch?v=</span>
                <span class="text-md sm-show">Youtube ID/URL:</span>
                <input id="youtube_trailer_id" type="text" [(ngModel)]="trailer_url" placeholder="Youtube Video ID / URL" />
              </div>
              @if (selectedMedia_.youtube_trailer_id == '' && trailer_url == '' && !isLoadingDownload()) {
                <span class="search-button icon-link" title="Search Trailer" (click)="openProfileSelectDialog(true)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path
                      d="M801-108 537-372q-31 26-72.96 40-41.96 14-86.6 14-114.6 0-192.52-78Q107-474 107-586t78-190q78-78 190-78t190 78q78 78 78 190.15 0 43.85-13.5 84.35Q616-461 588-425l266 264-53 53ZM375.5-391q81.75 0 138.13-56.79Q570-504.58 570-586q0-81.42-56.29-138.21Q457.43-781 375.59-781q-82.67 0-139.13 56.79Q180-667.42 180-586q0 81.42 56.46 138.21Q292.92-391 375.5-391Z"
                    />
                  </svg>
                </span>
              }
              @if (isLoadingDownload()) {
                <!-- #region Show loading icon -->
                <span class="loading-search icon-link" title="Searching for Trailer">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                    <circle stroke-width="14" r="15" cx="40" cy="65">
                      <animate
                        attributeName="cy"
                        calcMode="spline"
                        dur="2"
                        values="65;135;65;"
                        keySplines=".5 0 .5 1;.5 0 .5 1"
                        repeatCount="indefinite"
                        begin="-.4"
                      ></animate>
                    </circle>
                    <circle stroke-width="14" r="15" cx="100" cy="65">
                      <animate
                        attributeName="cy"
                        calcMode="spline"
                        dur="2"
                        values="65;135;65;"
                        keySplines=".5 0 .5 1;.5 0 .5 1"
                        repeatCount="indefinite"
                        begin="-.2"
                      ></animate>
                    </circle>
                    <circle stroke-width="14" r="15" cx="160" cy="65">
                      <animate
                        attributeName="cy"
                        calcMode="spline"
                        dur="2"
                        values="65;135;65;"
                        keySplines=".5 0 .5 1;.5 0 .5 1"
                        repeatCount="indefinite"
                        begin="0"
                      ></animate>
                    </circle>
                  </svg>
                </span>
                <!-- #endregion -->
              }
              @if (trailer_url != selectedMedia_.youtube_trailer_id && !isLoadingDownload()) {
                <button
                  class="primary icononly-button save-button success"
                  id="update_trailer_search_query"
                  tabindex="24"
                  (click)="saveYtId()"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path d="M378-246 154-470l43-43 181 181 384-384 43 43-427 427Z" />
                  </svg>
                </button>
              }
            </div>
            @if (trailer_url != selectedMedia_.youtube_trailer_id) {
              <p class="text-sm info-text">Click Download to download trailer from updated link!</p>
            }
          </div>
        </div>
        <div class="media-details-row">
          @if (selectedMedia_.youtube_trailer_id) {
            <button (click)="openTrailer()" class="primary" title="Watch Trailer on Youtube">Watch</button>
          }
          @if (!selectedMedia_.trailer_exists || selectedMedia_.youtube_trailer_id != trailer_url) {
            <button
              (click)="openProfileSelectDialog(false)"
              class="primary"
              title="Download Trailer"
              [disabled]="isLoadingDownload() || selectedMedia_.status == 'downloading'"
            >
              <span>Download </span>
              @if (isLoadingDownload() || selectedMedia_.status == 'downloading') {
                <span class="loading-icon">
                  <!-- Cycle icon - Google Fonts -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="loading">
                    <path
                      d="M343-107q-120-42-194.5-146.5T74-490q0-29 4-57.5T91-604l-57 33-37-62 185-107 106 184-63 36-54-92q-13 30-18.5 60.5T147-490q0 113 65.5 200T381-171l-38 64Zm291-516v-73h107q-47-60-115.5-93.5T480-823q-66 0-123.5 24T255-734l-38-65q54-45 121-71t142-26q85 0 160.5 33T774-769v-67h73v213H634ZM598-1 413-107l107-184 62 37-54 94q123-17 204.5-110.5T814-489q0-19-2.5-37.5T805-563h74q4 18 6 36.5t2 36.5q0 142-87 251.5T578-96l56 33-36 62Z"
                    />
                  </svg>
                </span>
              }
            </button>
          }
          @if (selectedMedia_.trailer_exists) {
            <button (click)="showDeleteDialog()" class="danger" title="Delete Trailer">Delete</button>
          }
        </div>
      </div>
    </div>
  }
</div>
@if (selectedMedia_) {
  <!-- Show Media Downloads -->
  <div class="media-details-container">
    <media-downloads [downloads]="selectedMedia_.downloads"></media-downloads>
  </div>
  <!-- Show Media Files -->
  <div class="media-details-container">
    <media-files [mediaId]="mediaId()"></media-files>
  </div>
}

<dialog #deleteDialog (click)="closeDeleteDialog()">
  <div class="dialog-content" (click)="$event.stopPropagation()">
    <h2>Delete Trailer</h2>
    <p>This will Delete the trailer file on disk for this Media</p>
    <p>Are you sure?</p>
    <button class="danger" (click)="onConfirmDelete()" tabindex="2">Delete</button>
    <button class="secondary" (click)="closeDeleteDialog()" tabindex="1">Cancel</button>
  </div>
</dialog>
