.media-details-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 1rem;
  border: 1px solid var(--color-outline);
  border-radius: 10px;

  @media (width < 768px) {
    margin: 0.5rem;
  }
}

.text-center {
  text-align: center;
}

.center {
  margin: auto;
}

.media-details-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 2rem;
  gap: 2rem;
}

.media-fanart-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  border-radius: 10px;
}

.media-poster {
  z-index: 2;
  display: flex;
  width: 100%;
}

.media-poster img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
  margin-bottom: auto;
  view-transition-class: mediaimage;
}

.media-details-col {
  z-index: 2;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.media-details-row {
  display: flex;
  flex-direction: row;
  margin: 0.3rem;
  gap: 0.75rem;
}

.media-details-row .title-text {
  font-size: 2.5rem;
  display: inline-block;
  overflow: hidden;
  max-width: 70%;
  view-transition-class: mediatitle;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.4s;
  cursor: pointer;
}

.icon-link svg {
  width: 40px;
  fill: var(--color-primary);
}

.nav-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: auto;
  margin-right: 1rem;
}

.icon-link svg .success {
  fill: var(--color-success);
}

.xdb-icon {
  width: 60px;
  cursor: pointer;
  border-radius: 4px;
}

.arr-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.extras {
  flex-wrap: wrap;
}

.labeled-text {
  display: flex;
  flex-direction: column;
}

.labeled-text .label {
  font-size: 0.75rem;
  opacity: 0.7;
  margin-bottom: 0.1rem;
}

.labeled-input {
  display: flex;
  flex-wrap: nowrap !important;
  align-items: stretch;
  width: 100%;
  border: 1px solid var(--color-outline);
  border-radius: 6px;
}

.labeled-input span {
  display: block;
  align-items: center;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-on-surface-variant);
  text-align: center;
  white-space: nowrap;
  background-color: var(--color-surface-container-high);
  border-right: 1px solid var(--color-outline);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.labeled-input input {
  flex: 1 1 auto;
  width: 1%;
  min-width: 100px;
  display: block;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-on-surface);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color-surface-container);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.input-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.loading-search {
  svg * {
    fill: var(--color-primary);
    stroke: var(--color-primary);
  }
}

.save-button {
  height: 40px;
  width: 40px;
}

.info-text {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-info);
  color: var(--color-info-text);
  text-align: center;
}

.loading-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.loading-icon svg {
  width: 1rem;
  height: 1rem;
}

.loading {
  animation: spin-animation 2s linear infinite;
}

.dialog-content {
  background-color: var(--color-on-error-container);
  color: var(--color-on-error);
  padding: 1rem;
  text-align: center;
}

dialog::backdrop {
  background-image: linear-gradient(0deg, grey, #690005);
}

.dialog-content button {
  margin: 10px;
}

@media (max-width: 765px) {
  .media-details-card {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 2rem;
    gap: 1rem;
  }

  .media-poster img {
    width: auto;
    height: 30vh;
    margin: 0 auto;
  }

  .media-details-col {
    align-items: center;
    margin: 1rem;
    margin-top: 0;
  }

  .media-details-row {
    display: flex;
    flex-direction: row;
    margin: 0.3rem;
    gap: 0.75rem;
  }

  .media-details-row .title-text {
    max-width: 90%;
  }
}
