<!-- <div class="d-flex flex-column m-0 p-0 vh-100 overflow-hidden">
    Top Navbar with Logo and Search
    <app-topnav></app-topnav>

    <div class="d-flex flex-column-reverse flex-md-row flex-fill overflow-hidden">
        Sidebar
        <app-sidenav></app-sidenav>
        <div class="col-10 col-md-12 d-flex align-self-stretch p-2 w-100 h-100 overflow-auto">
            Main content here
            <app-movies></app-movies>
        </div>
    </div>
</div> -->
<div class="mainbody">
  <div class="topnavbar">
    <!-- Navbar content goes here -->
    <app-topnav></app-topnav>
  </div>
  <div class="sidebar">
    <!-- Sidebar content goes here -->
    <app-sidenav></app-sidenav>
  </div>
  <div class="main-content">
    <!-- Main content goes here -->
    <app-movies></app-movies>
  </div>
  <!-- Container to show Toast messages received from server -->
  <div class="toast-container position-fixed top-0 end-0 p-4 m-5"></div>
</div>