.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  min-width: max(25vw, min(300px, 80vw));

  > * {
    border-bottom: 1px solid var(--color-outline);
  }
}

.dialog-title {
  font-size: larger;
  font-weight: 700;
  border-bottom: none !important;
  padding-bottom: 0.5rem;
  margin: 1rem;
}

.customfilter-option {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-weight: 400;
  height: 2.75rem;
  padding: 0.5rem 0.25rem 0.5rem 0.75rem;
  background-color: var(--color-surface-container-highest);
  color: var(--color-on-surface);

  span {
    text-align: left;
    flex: 1;
  }
}

.delete-icon {
  fill: var(--color-error);
  width: 2rem;
  height: 2rem;
}

.buttons-row {
  display: block flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}
