dialog {
  max-width: min(75vw, 900px);
  width: min(75vw, 900px);

  @media (width < 765px) {
    max-width: 95vw;
    width: 95vw;
  }
}

.loading-indicator {
  margin: 4rem;
}

.text-body {
  padding: 0;
}

.text-content {
  width: 100%;
  background-color: var(--color-surface-container-highest);

  pre {
    padding: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: start;
    counter-reset: listing;
    line-height: 0;
    --indent: 2rem;
    --lineHeight: 2;
    margin: 0;

    code {
      counter-increment: listing;
      display: block;
      padding: 0 0 0 var(--indent);
      text-indent: calc(-1 * var(--indent));
      margin: 0;
      line-height: var(--lineHeight);
    }

    code::before {
      content: counter(listing) '. ';
      display: inline-block;
      width: var(--indent);
      padding-left: auto;
      margin-left: auto;
      text-align: right;
      color: var(--color-outline);
    }

    @media (width < 765px) {
      padding: 0.5rem;
      --indentSm: 1.5rem;
      --lineHeightSm: 1.25;

      code {
        padding: 0 0 0 var(--indentSm);
        text-indent: calc(-1 * var(--indentSm));
        line-height: var(--lineHeightSm);
      }

      code::before {
        width: var(--indentSm);
      }
    }
  }
}
