<div class="media-downloads-container">
  <div class="title-block">
    <h3 class="downloads-title">Downloads</h3>
    <i class="icononly-button" title="Refresh" (click)="refresh()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="refresh-icon">
        <path
          d="M343-107q-120-42-194.5-146.5T74-490q0-29 4-57.5T91-604l-57 33-37-62 185-107 106 184-63 36-54-92q-13 30-18.5 60.5T147-490q0 113 65.5 200T381-171l-38 64Zm291-516v-73h107q-47-60-115.5-93.5T480-823q-66 0-123.5 24T255-734l-38-65q54-45 121-71t142-26q85 0 160.5 33T774-769v-67h73v213H634ZM598-1 413-107l107-184 62 37-54 94q123-17 204.5-110.5T814-489q0-19-2.5-37.5T805-563h74q4 18 6 36.5t2 36.5q0 142-87 251.5T578-96l56 33-36 62Z"
        />
      </svg>
    </i>
  </div>
  <hr />
  @if (media()?.downloads?.length) {
  <div class="downloads-list">
    @for (download of media()?.downloads; track download.id) {
    <div class="download-item">
      <div class="download-info">
        <a [href]="'https://www.youtube.com/watch?v=' + download.youtube_id" target="_blank" class="youtube-link">{{ download.youtube_id }}</a>
        <span class="profile-name">Profile: {{ download.profile_id }}</span>
        <span>{{ formatDuration(download.duration) }}</span>
        <span>{{ formatSize(download.size) }}</span>
        <span>{{ download.resolution }}</span>
      </div>
      <div class="download-actions">
        <i class="info-icon" pTooltip="
          File Name: {{ download.file_name }}
          Path: {{ download.path }}
          Video Format: {{ download.video_format }}
          Audio Format: {{ download.audio_format }}
          Audio Channels: {{ download.audio_channels }}
          File Format: {{ download.file_format }}
          Subtitles: {{ download.subtitles }}
          Added: {{ download.added_at | date:'short' }}
          Updated: {{ download.updated_at | date:'short' }}
          File Exists: {{ download.file_exists }}
        ">info</i>
      </div>
    </div>
    }
  </div>
  } @else {
  <p class="no-downloads">No downloads found for this media.</p>
  }
</div>
