.dialog-content {
  margin: 1rem;
  position: relative;
}

.dialog-header {
  position: relative;
}

.dialog-content .close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border-radius: 50%;

  svg {
    height: 2rem;
    width: 2rem;
    fill: var(--color-on-surface);
    padding: 0;
  }
}

.dialog-options {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s;
  cursor: pointer;
  padding: 1rem 3rem 1rem 0;
  border-bottom: 1px solid var(--color-outline);
  font-size: 1.25rem;

  span {
    height: 1.5rem;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-on-surface);
    padding: 0;
    margin: 0 0.5rem;
  }
}

.danger-option {
  color: var(--color-error);

  svg {
    fill: var(--color-error);
  }
}
