<!-- File: about.component.html -->
<p>about works!</p>
<div class="sett-conn-container">
    <p>connections works!</p>
    <p>Some large text that makes this overflow-y
        Add more text here to see the overflow-y in action
        Add more text here to see the overflow-y in action
        Add more text here to see the overflow-y in action
        Add more text here to see the overflow-y in action
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies. Nullam nec purus nec nunc tincidunt
        ultricies. Nullam nec purus nec nunc tincidunt ultricies. Nullam nec
        purus nec nunc tincidunt ultricies.
    </p>
</div>

