.about-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem 0.5rem;
  gap: 1rem;
}

.about-content label,
.about-content span {
  font-weight: bold;
  text-align: left;
  width: 40%;
}

.about-content > :nth-child(2) {
  text-decoration: none;
  text-align: left;
  margin: 0;
  padding: 0.25rem;
}

.update-available {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  border-radius: 5px;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  font-style: italic;
  width: auto !important;
}

.latest {
  background-color: var(--color-tertiary);
  color: var(--color-on-tertiary);
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }

  .about-content label {
    width: 100%;
    font-weight: unset;
    font-style: italic;
    font-size: small;
  }
}

.dialog-content {
  min-width: 25vw;
  padding: 1rem;
  text-align: center;

  button {
    margin: 1rem;
  }

  .update-success {
    font-weight: bolder;
    color: var(--color-success);
  }

  .update-error {
    font-weight: bolder;
    color: var(--color-warning);
  }
}

/* Password Update Dialog */
.text-input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
}

.password-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.25rem;
  align-items: center;
  position: relative;
}

.password-input label {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 1rem;
  font-size: 1rem;
  pointer-events: none;
  color: var(--color-on-surface);
  padding: 0 0.5rem;
  transition: 0.5s;
}

.password-input input {
  min-width: 15rem;
  height: 3rem;
  padding: 0.25rem 0.5rem;
  font-family: inherit;
  font-size: 1.25rem;
  background-color: var(--color-surface-container-high);
  color: var(--color-tertiary);
  border: 1px solid var(--color-outline);
  border-radius: 0.5rem;
}

.password-input input:focus ~ label,
.password-input input:valid ~ label {
  top: 0;
  background: var(--color-surface-container-high);
  font-size: 0.8rem;
}

i {
  position: absolute;
  right: 0.5rem;
  /* font-size: 0 -> helps center the svg vertically */
  font-size: 0;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-secondary);
}

.close-progress {
  width: 100%;
  height: 0.25rem;
  background-color: var(--color-success-text);
  border-radius: 0.25rem;
  animation: closeProgress 3s linear 0s;
}

@keyframes closeProgress {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
