<!-- File: about.component.html -->
<div class="about-container">
    <section class="about-section">
        <h1>About Trailarr</h1>
        <hr>
        <div class="about-content">
            <label>Version</label>
            <code>{{settings?.version}}</code>
        </div>
        <div class="about-content">
            <label>API Key</label>
            <code>{{settings?.api_key}}</code>
        </div>
        <div class="about-content">
            <label>Appdata Folder</label>
            <code>{{settings?.app_data_dir}}</code>
        </div>
        <div class="about-content">
            <label>Server Stated</label>
            <code>{{settings?.server_start_time ? (settings?.server_start_time | timeago) : 'Unknwon'}}</code>
        </div>
        <div class="about-content">
            <label>Timezone</label>
            <code>{{settings?.timezone}}</code>
        </div>
    </section>
    <section class="about-section">
        <h1>Statistics</h1>
        <hr>
        <div class="about-content">
            <label>Movies</label>
            <code>{{serverStats?.movies_count}}</code>
        </div>
        <div class="about-content">
            <label>Series</label>
            <code>{{serverStats?.series_count}}</code>
        </div>
        <div class="about-content">
            <label>Monitored</label>
            <code>{{serverStats?.monitored_count}}</code>
        </div>
        <div class="about-content">
            <label>Trailers downloaded</label>
            <code>{{serverStats?.trailers_downloaded}}</code>
        </div>
    </section>
    <section class="about-section">
        <h1>Getting Support</h1>
        <hr>
        <div class="about-content">
            <label>Github</label>
            <a href="https://github.com/nandyalu/trailarr" target="_blank">https://github.com/nandyalu/trailarr</a>
        </div>
        <div class="about-content">
            <label>Documentation</label>
            <!-- TODO: Change docs link once docs are added! -->
            <a href="https://github.com/nandyalu/trailarr" target="_blank">https://github.com/nandyalu/trailarr</a>
        </div>
        <div class="about-content">
            <label>Issues</label>
            <a href="https://github.com/nandyalu/trailarr/issues" target="_blank">https://github.com/nandyalu/trailarr/issues</a>
        </div>
    </section>
</div>