<!-- File: show-connections.component.html -->
<div class="sett-conn-container">
  <div *ngIf="isLoading; else connectionsLoaded" class="loading-wave center">
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
  </div>
  <button class="animated-button top-left-button" [routerLink]="RouteAdd">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
      <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
    </svg>
    <span class="text">Add New</span>
  </button>
  <ng-template #connectionsLoaded>
    <h2>Connections</h2>
    <hr />
    <p *ngIf="resultMessage" class="result-{{ resultType }}">{{ resultMessage }}</p>
    <div *ngIf="connectionList.length > 0; else noConnections" class="connection-container">
      <div *ngFor="let connection of connectionList" class="connection-card">
        <h3 class="title">{{ connection.name }}</h3>
        <div class="content">
          <p>Address: {{ connection.url }}</p>
          <p>Monitor: {{ connection.monitor | uppercase }}</p>
          <p>Added: {{ connection.added_at | date }}</p>
        </div>
        <a class="link-image" target="_blank" href="{{ connection.url }}">
          <img *ngIf="connection.arr_type == 'sonarr'" src="assets/sonarr_128.png" />
          <img *ngIf="connection.arr_type == 'radarr'" src="assets/radarr_128.png" />
        </a>
        <div class="buttons">
          <button class="animated-button secondary" (click)="selectedId = connection.id; showDeleteDialog()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path
                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
              />
            </svg>
            <span class="text">Delete</span>
          </button>
          <button class="animated-button primary" [routerLink]="[RouteEdit, connection.id]">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path
                d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
              />
            </svg>
            <span class="text">Edit</span>
          </button>
        </div>
      </div>
    </div>
    <ng-template #noConnections>
      <div class="center">
        <div class="all-empty-card center" [routerLink]="['/', RouteSettings, RouteConnections, RouteAdd]">Add New!</div>
        <p class="text-primary">I'm all alone here!. Click the "ADD" button to add some Radarr/Sonarr instances to let the magic happen!</p>
      </div>
    </ng-template>
  </ng-template>
</div>
<dialog #deleteConnectionDialog (click)="closeDeleteDialog()">
  <div class="dialog-content" (click)="$event.stopPropagation()">
    <h2>Delete Connection</h2>
    <p>This will Delete the connection and no longer monitor its Media</p>
    <p>Delete the connection?</p>
    <button class="danger" (click)="onConfirmDelete()" tabindex="2">Delete</button>
    <button class="secondary" (click)="closeDeleteDialog()" tabindex="1">Cancel</button>
  </div>
</dialog>
