dialog {
  padding: 1rem;
  height: 65vh;
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-tertiary);
  margin: 1rem;
  border: 1px solid var(--color-outline);
  border-radius: 0.5rem;
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  // max-height: 40vh;
  width: 60vw;
  overflow: auto;
  text-align: left;
  padding: 1rem;
  overscroll-behavior: contain;
  border: 1px solid var(--color-outline);
  border-radius: 0.5rem;

  @media (width < 765px) {
    width: 80vw;
  }
}

p {
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid var(--color-outline);

  &:hover {
    opacity: 0.8;
  }
}

.selected,
p:hover {
  background-color: var(--color-on-tertiary);
  color: var(--color-tertiary);
}

.buttons-row {
  padding: 1rem;
}

.loading-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.loading-icon svg {
  width: 1rem;
  height: 1rem;
}

.loading {
  animation: spin-animation 2s linear infinite;
}
