
/* Container styling */
form {
  padding: 1rem;
  display: block flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.top-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: block;
}

/* Labels */
label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: bold;
}

/* Inputs and Selects */
input,
select {
  /* width: 100%; */
  padding: 0.5rem;
  box-sizing: border-box;
}

option {
  background-color: var(--color-surface-container-high);
}

.ng-touched.ng-invalid:not(form):not(div) {
  border: 2px solid var(--color-danger);
}

/* Filters container */
.filters-container {
  border-top: 1px solid var(--color-outline);
  padding-top: 1rem;
}

/* Individual filter group styling */
.filter-group {
  display: block flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  border: 1px solid var(--color-outline);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  background-color: var(--color-surface-container-high);

  :nth-child(3) {
    flex: 1;
    text-align: start;
  }
}

.danger {
  width: auto;
  height: auto;

  svg {
    fill: var(--color-danger-text);
  }
}

.submit-result {
  margin: 0 auto .5rem;
  font-size: 1rem;
  font-weight: bold;
  white-space: normal;
  color: var(--color-success-text);
}

.submit-result.error {
  max-width: min-content;
  color: var(--color-danger-text);
}

.close-progress {
  width: 100%;
  height: 0.25rem;
  background-color: var(--color-success-text);
  border-radius: 0.25rem;
  animation: closeProgress 3s linear 0s;
}

@keyframes closeProgress {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}