.info-dialog,
.info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem;
  max-width: 75vw;
  align-items: center;
  max-height: 75vh;

  @media (width < 765px) {
    max-width: 90vw;
  }
}

.info-container {
  max-height: 65vh;
  overflow-y: auto;
}

.info-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0.5rem;
  gap: 1rem;

  @media (width < 765px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }

  // label,
  // span {
  //   font-weight: bold;
  //   text-align: left;
  //   width: 30%;

  //   @media (width < 765px) {
  //     width: 100%;
  //     font-weight: unset;
  //     font-style: italic;
  //     font-size: small;
  //   }
  // }

  span {
    flex: 1;
    font-weight: 500;
    font-size: small;
    text-align: end;
    color: var(--color-on-surface-variant);

    @media (width < 765px) {
      text-align: left;
      width: 100%;
      font-weight: unset;
      font-style: italic;
    }
  }

  > :nth-child(2) {
    flex: 7;
    text-decoration: none;
    text-align: left;
    margin: 0;
    padding: 0.25rem;
  }
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  width: 70%;
}

.video-info {
  display: block;
  padding: 1rem;
  text-align: center;
}

section {
  width: 100%;

  h2 {
    margin: 0 0 0.5rem 0;
    font-size: large;
    color: var(--color-on-surface-variant);
  }
}
