# DevContainer requirements
# Backend
aiohttp==3.10.2
aiofiles==24.1.0
alembic==1.13.2
apscheduler==3.10.4
async-lru==2.0.4
fastapi[standard]==0.112.0
pillow==10.4.0
sqlmodel==0.0.21
yt_dlp==2024.8.6

# Testing
aioresponses==0.7.6
hypothesis==6.108.5
schemathesis==3.33.3
pytest==8.1.1
pytest-asyncio==0.23.6
pytest-cov==4.1.0