# DevContainer requirements
# Docs
mkdocs-material==9.6.15
mkdocs-git-revision-date-localized-plugin==1.4.7
mkdocs_github_changelog==0.1.0
mkdocs-glightbox==0.4.0
# mkdocs-swagger-ui-tag==0.6.11

# Backend
aiohttp==3.12.14
aiofiles==24.1.0
aiosqlite==0.21.0
alembic==1.16.4
apscheduler==3.11.0
async-lru==2.0.5
fastapi[standard-no-fastapi-cloud-cli]==0.116.1
bcrypt==4.3.0
pillow==11.3.0
sqlmodel==0.0.24
yt-dlp[default]==2025.7.21

# Testing
aioresponses==0.7.8
hypothesis==6.130.11
schemathesis==4.0.2
pytest==8.4.1
pytest-asyncio==1.1.0
pytest-cov==6.2.1
