# DevContainer requirements
# Backend
aiohttp==3.9.3
aiofiles==23.2.1
alembic==1.13.1
apscheduler==3.10.4
async-lru==2.0.4
fastapi==0.110.1
pillow==10.3.0
sqlmodel==0.0.16
uvicorn[standard]==0.29.0
gunicorn==21.2.0
yt_dlp==2024.4.9

# Testing
pytest==8.1.1
pytest-asyncio==0.23.6
pytest-cov==4.1.0
aioresponses==0.7.6