/* File: settings.component.css */
.settings-container {
  display: flex;
  flex-direction: column;
  /* min-height: 100%; */
  overflow: hidden;
  position: relative;
}

.settingsnav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--color-surface-container-high);
  color: var(--color-on-surface);

  @media (width < 765px) {
    order: 2;
    justify-content: space-around;
    /* Make this work properly */
    position: fixed;
    top: auto;
    bottom: 78px;
  }
}

.settingsnav > * {
  flex: 1;
}

.settings-content {
  order: 2;
  overflow: hidden;
  padding: 0.5rem;
  position: relative; /* for the sticky update message in components */

  @media (width < 765px) {
    margin-bottom: 80px;
    order: 1;
  }
}

.setnav-btn {
  margin: 0;
  padding: 0.8rem;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-weight: 400;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 0;
  border-bottom: 2px solid transparent;
}

.setnav-btn.active {
  background-color: var(--color-secondary-container); 
  opacity: 1;
  font-weight: 600;
  color: var(--color-on-secondary-container);
  border-bottom: 2px solid var(--color-primary);
}

.setnav-btn:not(.active):hover {
  background-color: var(--color-secondary-container); 
  opacity: 0.6;
  font-weight: 500;
  color: var(--color-on-secondary-container);
  border-bottom: 2px solid var(--color-primary);
}

/* @media (max-width: 765px) {
    .settings-container {
        grid-template-rows: 1fr auto;
    }

    .settingsnav {
      grid-row: 2;
      justify-content:space-around;
      top: auto;
      bottom: 0;
    }

    .settings-content {
      grid-row: 1;
    }
} */