<!-- Settings Tabs -->

<div class="settingsnav">
  <a class="setnav-btn" [routerLink]="RouteConnections" routerLinkActive="active">Connections</a>
  <a class="setnav-btn" [routerLink]="RouteProfiles" routerLinkActive="active">Profiles</a>
  <a class="setnav-btn" [routerLink]="RouteTrailer" routerLinkActive="active">Trailer</a>
  <a class="setnav-btn" [routerLink]="RouteAbout" routerLinkActive="active">About</a>
</div>
<div class="settings-container">
  <div class="settings-content">
    <router-outlet />
  </div>
</div>
