<h2>General Settings</h2>
<!-- <button (click)="openPathSelectDialog()">Open Dialog</button> -->
<hr />
@if (isLoading()) {
  <app-load-indicator class="center" />
}
<!-- Warning Messages -->
@if (warningMessages().length > 0) {
  <div class="border-warning sticky-warning">
    <ul>
      @for (message of warningMessages(); track $index) {
        <li>{{ message }}</li>
      }
    </ul>
  </div>
}
<!-- Settings Sections -->

<section>
  <details open>
    <summary>
      <span>General</span>
      <help-link-icon [link]="helpLinks.general" />
    </summary>
    <hr />
    <div class="setting-group">
      <app-options-setting
        name="Monitor Enabled"
        description="Monitor media from Radarr/Sonarr to download trailers."
        [options]="trueFalseOptions"
        [selectedOption]="settings()?.monitor_enabled"
        (optionChange)="updateSetting('monitor_enabled', $event)"
      />
      <app-text-setting
        name="Monitor Interval"
        description="Frequency (in minutes) to get new media data from Radarr/Sonarr."
        descriptionExtra="Default is 60. Minuimum is 10. Container restart required to apply new interval."
        [isNumberType]="true"
        [isLongInput]="false"
        placeholder="Monitor Interval"
        autocomplete="off"
        [minLength]="1"
        [maxLength]="6"
        [value]="settings()?.monitor_interval ?? 60"
        [disabled]="false"
        (onSubmit)="updateSetting('monitor_interval', $event)"
      />
      <app-options-setting
        name="Theme"
        description="Select application theme."
        [options]="themeOptions"
        [selectedOption]="settings()?.app_theme | titlecase"
        (optionChange)="updateSetting('app_theme', $event)"
      />
    </div>
  </details>
</section>
<section>
  <details open>
    <summary>
      <span>Files</span>
      <help-link-icon [link]="helpLinks.files" />
    </summary>
    <hr />
    <div class="setting-group">
      <app-options-setting
        name="Wait for Media"
        description="Wait for media to be imported into Radarr/Sonarr before downloading trailers."
        [options]="trueFalseOptions"
        [selectedOption]="settings()?.wait_for_media"
        (optionChange)="updateSetting('wait_for_media', $event)"
      />
    </div>
  </details>
</section>
<section>
  <details open>
    <summary>
      <span>Advanced Options</span>
      <help-link-icon [link]="helpLinks.advanced" />
    </summary>
    <hr />
    <div class="setting-group">
      <app-options-setting
        name="Log Level"
        description="Set logging level for the app."
        [options]="loggingOptions"
        [selectedOption]="toTitleCase(settings()?.log_level ?? 'INFO')"
        (optionChange)="updateSetting('log_level', $event)"
      />
      <app-text-setting
        name="Yt-dlp Cookies Path"
        description="Path to yt-dlp cookies file to use for downloading trailers."
        [isNumberType]="false"
        [isLongInput]="true"
        [showFolderButton]="true"
        pathShouldEndWith=".txt"
        placeholder="/config/cookies.txt"
        autocomplete="off"
        [minLength]="0"
        [maxLength]="255"
        [value]="settings()?.yt_cookies_path ?? ''"
        (onSubmit)="updateSetting('yt_cookies_path', $event)"
      />
    </div>
  </details>
</section>
<section>
  <details open>
    <summary>
      <span>Experimental Options</span>
      <help-link-icon [link]="helpLinks.experimental" />
    </summary>
    <hr />
    <div class="setting-group">
      <p>These are experimental options, might not work as expected!</p>
      @if (settings()?.gpu_available_nvidia) {
        <app-options-setting
          name="NVIDIA GPU Acceleration"
          description="Use NVIDIA GPU for hardware acceleration."
          [options]="trueFalseOptions"
          [selectedOption]="settings()?.gpu_enabled_nvidia"
          [colorType]="'warning'"
          [colorTypeOption]="'true'"
          (optionChange)="updateSetting('gpu_enabled_nvidia', $event)"
        />
      }
      @if (settings()?.gpu_available_intel) {
        <app-options-setting
          name="Intel GPU Acceleration"
          description="Use Intel GPU for hardware acceleration (VAAPI)."
          [options]="trueFalseOptions"
          [selectedOption]="settings()?.gpu_enabled_intel"
          [colorType]="'warning'"
          [colorTypeOption]="'true'"
          (optionChange)="updateSetting('gpu_enabled_intel', $event)"
        />
      }
      @if (settings()?.gpu_available_amd) {
        <app-options-setting
          name="AMD GPU Acceleration"
          description="Use AMD GPU for hardware acceleration (AMF)."
          [options]="trueFalseOptions"
          [selectedOption]="settings()?.gpu_enabled_amd"
          [colorType]="'warning'"
          [colorTypeOption]="'true'"
          (optionChange)="updateSetting('gpu_enabled_amd', $event)"
        />
      }
      <app-options-setting
        name="Update Yt-dlp"
        description="Update yt-dlp to latest version during container startup."
        descriptionExtra="You need to restart the container to apply updates."
        [options]="trueFalseOptions"
        [selectedOption]="settings()?.update_ytdlp"
        [colorType]="'warning'"
        [colorTypeOption]="'true'"
        (optionChange)="updateSetting('update_ytdlp', $event)"
      />
      <app-text-setting
        name="URL Base"
        description="URL Base for use with reverse proxy configuration"
        descriptionExtra="Restart required to take effect!"
        [isNumberType]="false"
        [isLongInput]="true"
        placeholder="trailarr"
        autocomplete="off"
        [minLength]="0"
        [maxLength]="255"
        [value]="settings()?.url_base ?? ''"
        [colorType]="'danger'"
        (onSubmit)="updateSetting('url_base', $event)"
      />
    </div>
  </details>
</section>
<!-- } -->
