.logs-container {
  display: flex;
  flex-direction: column;
}

.logs-title {
  position: sticky;
  top: 76px;
  margin: 0;
  padding: 1rem;
  background-color: var(--color-surface-container-high);
  z-index: 2;

  @media (width < 765px) {
    /* 76px topnav - 8px for title padding - 6px for container padding */
    top: 62px;
  }
}

.text-center {
  text-align: center;
}

.center {
  margin: auto;
}

.logssearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-grow: 1;
  padding: 1rem;
  background-color: var(--color-surface-container-high);
  position: sticky;
  top: 145px;
  /* 76px topnav + 69px logs title */
  z-index: 2;
  gap: .5rem;

  @media (width < 765px) {
    padding: 0.5rem;
    top: 113px;
    /* 76px topnav + 53px logs title - 16px for title padding */
  }
}

.refresh-icon {
  cursor: pointer;
  fill: var(--color-on-surface);
}

.loading {
  cursor: progress;
  animation: spin-animation 2s linear infinite;
}

.logssearch-form {
  width: 100%;
}

.logssearch-form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--color-outline);
  border-radius: 0.5rem;
  margin: 0;
  font-size: 1rem;
  background-color: var(--color-surface-container-highest);
  color: var(--color-on-surface);

  &:focus {
    outline: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
}

.logs-table {
  padding: 1rem;
}

.logs-row {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;

  @media (width < 765px) {
    padding: 0;
  }
}

.logs-row details {
  width: 100%;
  list-style-position: outside;
}

.logs-row summary {
  list-style-position: outside;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  cursor: pointer;
  position: relative;

  @media (width < 765px) {
    flex-direction: column;
    align-items: baseline;
    gap: 0;
    margin-bottom: 1rem;
  }
}

summary .logs-text {
  flex: 1;
  margin-left: 2rem;
}

.logs-icon {
  position: absolute;
  top: 0.75rem;
  left: 0;
  /* font-size: 0 -> helps center the svg vertically */
  font-size: 0;
  z-index: 0;
}

.logs-icon svg {
  width: 1.5rem;
  fill: var(--color-outline);
}

summary .debug {
  color: var(--color-info);

  svg {
    fill: var(--color-info);
  }
}

summary .warning {
  color: var(--color-danger);

  svg {
    fill: var(--color-danger);
  }
}

summary .error {
  color: var(--color-warning);

  svg {
    fill: var(--color-warning);
  }
}