.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(180px, 100%), 1fr));
  gap: 1rem;
  padding: 1rem;

  @media (width < 900px) {
    grid-template-columns: repeat(auto-fill, minmax(min(120px, 100%), 1fr));
    gap: 0.5rem;
    padding: 0.5rem;
  }
}

.media-card {
  text-decoration: auto;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-image: url(../../../../assets/poster-sm.png);
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 3 / 5;
}

.status-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 24px;
  width: 24px;
}

.media-card label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.media-card img {
  flex-grow: 1;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.media-card p {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  background-color: var(--color-surface-container-low);
  color: var(--color-primary);
  padding: 0.5rem;
  margin: 0;
  /* Ensure no gap between image and text */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Edit Mode Styles
.media-card-checkbox {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-surface-container-high);
  outline: 2px solid var(--color-primary);
  z-index: 2;

  @media (width < 765px) {
    top: 0.25rem;
    left: 0.25rem;
    width: 1rem;
    height: 1rem;
  }
}

.media-card-checkbox:checked {
  outline: none;
  accent-color: var(--color-primary);
}

.media-card-checkbox:checked + label {
  border: 4px solid var(--color-primary);
  border-radius: 10px;
  overflow: hidden;
}

// Animations
.enter-animation {
  // Animation on load
  animation-name: subtleFadeIn;
  animation-duration: 800ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.media-card:hover {
  box-shadow: 0px 0px 10px 5px var(--color-outline);
}
