<div class="media-grid" appScrollNearEnd (nearEnd)="onNearEndScroll()" role="listbox" aria-multiselectable="true">
  @for (media of displayMedia(); track media.id) {
    <app-media-card-shell
      [media]="media"
      [inEditMode]="inEditMode()"
      [isChecked]="checkedMediaIDs().includes(media.id)"
      (checkedChange)="onMediaChecked(media, $event)"
      (cardClicked)="selectedMediaID.set(media.id)"
    >
      <img
        id="mediaImage{{ media.id }}"
        [src]="(media.poster_path | removeStartingSlash) || 'assets/poster-sm.png'"
        [alt]="media.title"
        loading="lazy"
        [style.view-transition-name]="selectedMediaID() === media.id ? 'media-image' : 'none'"
      />
      <div class="poster-gradient-overlay"></div>
      <div class="poster-meta">
        <p [style.view-transition-name]="selectedMediaID() === media.id ? 'media-title' : 'none'">
          {{ media.title }}
        </p>
      </div>
    </app-media-card-shell>
  }
</div>
