.form-container {
  width: 100%;
  border: 2px solid var(--color-outline);
  padding: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  border-radius: 16px;
  background-color: var(--color-surface-container);
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.form-container form {
  display: block;
  padding: 0;
  border: var(--color-outline);
  border-radius: 8px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 16px;
}

.input-group label {
  margin-right: 10px;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: auto;
  padding: 12px;
  font-family: inherit;
  background-color: var(--color-surface-container-high);
  color: var(--color-on-surface);
  border: 2px solid var(--color-outline);
  border-radius: 8px;
}

.input-group .invalid {
  border: 2px solid var(--color-error);
  opacity: 0.6;
  background-color: var(--color-error-container);
  color: var(--color-on-error-container);
  font-weight: 700;
}

.input-group .invalid-text {
  color: var(--color-error);
}

.d-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    justify-content: space-between;
}

.option-container {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
}

.option-container label {
  padding: 10px;
  padding-left: 0;
  display: block;
  margin-right: 10px;
  background-color: var(--color-surface-container);
}

.option-container .options-bar {
  display: flex;
  background-color: var(--color-surface-container-high);
  border-radius: 10px;
  border: 0.5px solid var(--color-outline);
}

.option-container .option {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: .3s ease;
}

.option-container .selected {
  background-color: var(--color-tertiary-container); 
  font-weight: 600;
  color: var(--color-on-tertiary-container);
}


.dialogbg {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.dialog {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 11;
}

.dialog-content {
  background-color: var(--color-surface-container-highest);
  padding: 20px;
  border: 1px solid var(--color-outline);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  backdrop-filter: blur(4px);
}

.dialog-content button {
  margin: 10px;
}