<div class="form-container">
    <h2>Add Connection:</h2>
    <hr/>
    <form [formGroup]="addConnectionForm">
        <div class="input-group">
            <label for="name">Connection Name</label>
            <input id="name" type="text" formControlName="name" placeholder="Connection Name" 
            autocomplete="off" autocapitalize="words" tabindex="1"
            oninput="this.value = this.value.charAt(0).toUpperCase() + this.value.slice(1)">
            <p *ngIf="name.invalid && name.touched" class="invalid-text">Server Name is required! Minimum 3 characters</p>
        </div>

        <div class="d-row">
            <div class="option-container">
                <span>Arr Type: </span>
                <div id="arrtype" class="options-bar">
                    <div *ngFor="let option of arrOptions" class="option" tabindex="2"
                    [class.selected]="option === addConnectionForm.value.arrType" 
                    (click)="setArrType(option)"
                    (keydown.enter)="setArrType(option)"
                    (keydown.space)="setArrType(option)">
                        {{option | uppercase }}
                    </div>
                </div>
            </div>
        
            <div class="option-container">
                <span>Monitor Type: </span>
                <div id="monitorType" class="options-bar">
                    <div *ngFor="let option of monitorOptions" class="option" tabindex="3"
                    [class.selected]="option === addConnectionForm.value.monitorType" 
                    (click)="setMonitorType(option)"
                    (keydown.enter)="setMonitorType(option)"
                    (keydown.space)="setMonitorType(option)">
                        {{option | uppercase }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="input-group">
            <label for="url">Server URL</label>
            <input id="url" type="url" formControlName="url" placeholder="Server URL Ex: http://192.168.0.15:6969" tabindex="4" autocomplete="off">
            <p *ngIf="url.invalid && url.touched" class="invalid-text">Server URL is invalid!</p>
        </div>
        
        <div class="input-group">
            <label for="apiKey">API Key</label>
            <input id="apiKey" type="text" formControlName="apiKey" placeholder="APIKEY" tabindex="5" autocomplete="off">
            <p *ngIf="apiKey.invalid && apiKey.touched" class="invalid-text">APIKey is invalid!</p>
        </div>
        <h3>Path Mappings:</h3>
        <hr>
        <div formArrayName="path_mappings">
            <div *ngFor="let path_mapping of pathMappings.controls; let i = index" [formGroupName]="i"
                class="d-row">
                <div class="input-group">
                    <label for="path_from">Path From</label>
                    <input id="path_from" type="text" formControlName="path_from" placeholder="Arr Internal Path" tabindex="6" autocomplete="off">
                </div>
                <div class="input-group">
                    <label for="path_to">Path To</label>
                    <input id="path_to" type="text" formControlName="path_to" placeholder="Trailarr Internal Path" tabindex="6" autocomplete="off">
                </div>
                <button class="icononly-button tertiary" id="remove" name="Remove Path Mapping" tabindex="6" (click)="removePathMapping(i)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path
                            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                    </svg>
                    <!-- <span class="text">Remove</span> -->
                </button>
            </div>
        </div>
        <div class="d-row">
            <button class="animated-button tertiary" id="cancel" tabindex="10" (click)="addPathMapping()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
                </svg>
                <span class="text">Add Path Mapping</span>
            </button>
        </div>
        <div class="d-row">

            <button class="animated-button secondary" id="cancel" tabindex="11" (click)="onCancel()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                </svg>
                <span class="text">Cancel</span>
            </button>
            
            <button class="animated-button primary" id="submit" type="submit" tabindex="12" [disabled]="!addConnectionForm.valid" (click)="onSubmit()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path d="M840-680v480q0 33-23.5 56.5T760-120H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h480l160 160Zm-80 34L646-760H200v560h560v-446ZM480-240q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35ZM240-560h360v-160H240v160Zm-40-86v446-560 114Z"/>
                </svg>
                <span class="text">submit</span>
            </button>
        </div>
        <p *ngIf="addConnResult">{{ addConnResult }}</p>
    </form>
</div>
<dialog #cancelDialog (click)="closeCancelDialog()">
    <div class="dialog-content" (click)="$event.stopPropagation()">
        <h2>Unsaved Changes</h2>
        <p>Canges will be lost. Are you sure you want to cancel?</p>
        <button class="secondary" (click)="onConfirmCancel()" tabindex="2">Yes</button>
        <button class="primary" (click)="closeCancelDialog()" tabindex="1">No</button>
    </div>
</dialog>