<div class="media-header">
  <!-- Refresh Button -->
  <button
    class="icononly-button"
    [class.loading]="mediaService.mediaResource.isLoading()"
    title="Refresh"
    (click)="mediaService.refreshContent()"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="refresh-icon">
      <path
        d="M343-107q-120-42-194.5-146.5T74-490q0-29 4-57.5T91-604l-57 33-37-62 185-107 106 184-63 36-54-92q-13 30-18.5 60.5T147-490q0 113 65.5 200T381-171l-38 64Zm291-516v-73h107q-47-60-115.5-93.5T480-823q-66 0-123.5 24T255-734l-38-65q54-45 121-71t142-26q85 0 160.5 33T774-769v-67h73v213H634ZM598-1 413-107l107-184 62 37-54 94q123-17 204.5-110.5T814-489q0-19-2.5-37.5T805-563h74q4 18 6 36.5t2 36.5q0 142-87 251.5T578-96l56 33-36 62Z"
      />
    </svg>
  </button>
  <!-- Edit Button -->
  <button class="media-header-button" (click)="inEditMode.set(true)" aria-label="Edit" title="Edit">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="button-icon">
      <path
        d="M640-160v-360H160v360h480Zm80-200v-80h80v-360H320v200h-80v-200q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v360q0 33-23.5 56.5T800-360h-80ZM160-80q-33 0-56.5-23.5T80-160v-360q0-33 23.5-56.5T160-600h480q33 0 56.5 23.5T720-520v360q0 33-23.5 56.5T640-80H160Zm400-603ZM400-340Z"
      />
    </svg>
    <span>Edit</span>
  </button>
  <div class="empty-space"></div>
  <!-- Sort Options -->
  <button class="media-header-button dropdown" popovertarget="sortDropdown" aria-label="Sort" title="Sort">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="button-icon">
      <path d="M74-159v-135h304v135H74Zm0-255v-134h558v134H74Zm0-254v-135h812v135H74Z" />
    </svg>
    <span>{{ selectedSort() | displayTitle }}</span>
  </button>

  <!-- Filter Options -->
  <button class="media-header-button dropdown" popovertarget="filterDropdown" aria-label="Filter" title="Filter">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="button-icon">
      <path d="M371-158v-135h219v135H371ZM200-413v-135h558v135H200ZM74-668v-135h812v135H74Z" />
    </svg>
    <span>{{ selectedFilter() | displayTitle }}</span>
  </button>
</div>

<!-- Sort Options Dropdown -->
<div id="sortDropdown" popover="auto" class="popover">
  <div class="sortitem-dropdown" role="listbox" aria-label="Sort Options">
    @for (sortOption of sortOptions; track sortOption) {
      <button
        class="sortitem-dropdown-option"
        role="option"
        [aria-selected]="selectedSort() == sortOption"
        [autofocus]="selectedSort() == sortOption"
        (click)="setMediaSort(sortOption)"
      >
        {{ sortOption | displayTitle }}
        @if (selectedSort() == sortOption) {
          <div>
            @if (sortAscending()) {
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="icon">
                <path d="M480-130 200-410l96-96 184 185 184-185 96 96-280 280Zm0-299L200-708l96-97 184 185 184-185 96 97-280 279Z" />
              </svg>
            } @else {
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="icon">
                <path d="m296-155-96-97 280-279 280 279-96 97-184-185-184 185Zm0-299-96-96 280-280 280 280-96 96-184-185-184 185Z" />
              </svg>
            }
          </div>
        }
      </button>
    }
  </div>
</div>

<!-- Filter Options Dropdown -->
<div id="filterDropdown" popover="auto" class="popover">
  <div class="filteritem-dropdown" role="listbox" aria-label="Filter Options">
    @for (filterOption of allFilters(); track filterOption) {
      <button
        class="filteritem-dropdown-option"
        role="option"
        [aria-selected]="selectedFilter() == filterOption"
        [autofocus]="selectedFilter() == filterOption"
        (click)="setMediaFilter(filterOption)"
      >
        {{ filterOption | displayTitle }}
        @if (selectedFilter() == filterOption) {
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="icon">
              <path d="M382-200 113-469l97-97 172 173 369-369 97 96-466 466Z" />
            </svg>
          </div>
        }
      </button>
    }
    <button class="filteritem-dropdown-option" (click)="openShowFiltersDialog()" aria-label="CustomFilters" title="Edit">
      <span>Custom Filters</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="icon">
        <path
          d="M421-97v-248h83v83h353v83H504v82h-83Zm-318-82v-83h270v83H103Zm187-178v-82H103v-82h187v-84h83v248h-83Zm131-82v-82h436v82H421Zm166-176v-248h83v82h187v83H670v83h-83Zm-484-83v-83h436v83H103Z"
        />
      </svg>
    </button>
  </div>
</div>

@if (showFiltersDialogOpen()) {
  <show-filters-dialog (closed)="onShowFiltersDialogClosed()" />
}
