.media-header {
  display: flex;
  position: sticky;
  top: 76px;
  width: 100%;
  justify-content: flex-end;
  background-color: var(--color-surface-container-low);
  color: var(--color-on-surface);
  align-items: center;
  padding: 0 1rem;
  z-index: 99;
  view-transition-name: mediaheader;
  // animation: slideInFromTop 0.3s ease-out forwards;

  @media (width < 765px) {
    position: fixed;
    top: auto;
    bottom: 76px;
    left: 0;
    right: 0;
  }

  .empty-space {
    flex: 1;
    margin: auto;
  }
}

.refresh-icon {
  fill: var(--color-on-surface);
}

.loading {
  cursor: progress;
  animation: spin-animation 2s linear infinite;
}

.media-header button {
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  padding: 0.75rem 0;
  color: var(--color-on-surface);
  background: transparent;

  .button-icon {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 0;
    margin: 0;
    padding: 0.25rem;
    fill: var(--color-on-surface);
  }

  @media (width < 765px) {
    span {
      display: none;
    }
  }
}

.media-header button:hover:not(.delete),
.media-header button:focus:not(.delete) {
  color: var(--color-primary);

  svg {
    fill: var(--color-primary) !important;
  }
}

.delete {
  color: var(--color-error);

  svg {
    fill: var(--color-error) !important;
  }
}

.media-header button.dropdown {
  gap: 0.5rem;
  padding: 0.75rem;
}

.popover {
  right: calc(anchor(right));
  top: calc(anchor(bottom));
  justify-self: anchor-center;
  border: 0;
  margin: 0;
  padding: 0;

  background-color: var(--color-surface-container-highest);
  box-shadow: 0.5rem 1rem 1rem 0px var(--color-shadow);

  @media (width < 765px) {
    position-area: top;
    box-shadow: 0.5rem -1rem 1rem 0 var(--color-shadow);
  }
}

.icon {
  margin: 0;
}

.media-header button:interest-source,
.media-header button:hover,
.media-header button:focus {
  background-color: var(--color-surface-container-highest);
}

.sortitem-dropdown,
.filteritem-dropdown {
  display: flex;
  flex-direction: column;
  min-width: 8rem;
}

.filteritem-dropdown {
  min-width: 11rem;
}

.sortitem-dropdown-option,
.filteritem-dropdown-option {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-weight: 400;
  height: 2.75rem;
  padding: 0.5rem 0.25rem 0.5rem 0.75rem;
  background-color: var(--color-surface-container-highest);
  color: var(--color-on-surface);

  span {
    text-align: left;
    flex: 1;
  }
}

.media-header button:interest-source,
.sortitem-dropdown-option:hover,
.sortitem-dropdown-option:focus,
.filteritem-dropdown-option:hover,
.filteritem-dropdown-option:focus {
  background-color: var(--color-secondary-container);
  color: var(--color-primary);
}
