<nav class="navbar">
  <a class="navlogo" routerLink="home">
    <img src="favicon.ico" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
    <span class="h5 navlogotext">TRAILARR</span>
  </a>
  <form id="searchForm" class="navsearch" (submit)="onSearch()">
    <input type="text" [(ngModel)]="searchQuery" name="query" class="input" placeholder="Search for media..." aria-label="search"/>
  </form>
  <label class="switch2 sm-none">
    <input type="checkbox" [(ngModel)]="isDarkModeEnabled" (ngModelChange)="onThemeChange($event)">
    <span class="slider2"></span>
  </label>
</nav>