.navbar {
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.navlogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-on-surface);
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 210px;
}

.trailarr .logo-text {
  fill: var(--color-on-surface);
}

.trailarr:hover .logo-text {
  fill: var(--color-primary);
}

.navlogotext {
  margin-left: 0.5rem;
}

.navsearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-grow: 1;
  padding: 0.25rem;
  position: relative;
}

.navsearch-form {
  width: 100%;
}

.navsearch-form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--color-outline);
  border-radius: 0.5rem;
  margin: 0;
  font-size: 1rem;
  background-color: var(--color-surface-variant);
  color: var(--color-on-surface-variant);

  &:focus {
    outline: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
}

/* navsearch-form input:focus { For custom focus color
  color: rgb(0, 255, 255);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
} */

.navsearch-results {
  position: absolute;
  top: 100%;
  left: 2%;
  color: var(--color-on-surface);
  background-color: var(--color-surface-container-high);
  border: 0.5px solid var(--color-outline);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  display: none;
  z-index: 10;
}

.active {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  max-width: 60vw;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5rem;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  transition: 0.25s;

  @media (width < 765px) {
    max-width: 75vw;
  }
}

.navsearch-results .title {
  display: flex;
  min-width: 300px;
  width: auto;
  padding: 0.5rem;
  text-align: left;
  text-wrap: pretty;
  cursor: pointer;
}

.search-poster {
  width: 3rem;
}

.search-title {
  margin: auto 0.5rem;
  text-align: left;
}

.navsearch-results .title:hover,
.navsearch-results .title:focus,
.navsearch-results .selected {
  background-color: var(--color-surface-variant);
  outline: none;
}

.navsearch-results .title:focus,
.navsearch-results .selected {
  scroll-snap-align: center;
}

@media (max-width: 900px) {
  .navlogo {
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navlogotext {
    display: none;
  }
}

button {
  background: transparent;
  height: 2.5rem;

  svg {
    fill: var(--color-error);
  }

  &:hover {
    transform: scale(1.2);
  }
}
