:host {
  display: contents;
}

.help-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0;
  margin: 0 0.5rem;
  cursor: help;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-info);
  }
}
