.media-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.text-center {
  text-align: center;
}

.center {
  margin: auto;
}

.media-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  height: 100%;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  padding: 12px;
}

.media-card {
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  cursor: pointer;
  position: relative;
}

.media-card img {
  width: 100%;
  border-radius: 10px;
}

.media-card svg {
  position: absolute;
  top: 5px;
  height: 24px;
  width: 24px;
}

.media-card .monitored-icon,
.media-card .downloaded-icon {
  fill: var(--color-info);
  right: 5px;
}

.media-card .success {
  fill: var(--color-success);
}

.media-card h5 {
  display: none;
}

.media-card:hover {
  border-radius: 15px;
  /* transform: scale(1.1); */
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);

}

.media-card:hover img {
  border-radius: 15px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.media-card:hover h5 {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--color-primary);
}


@media (max-width: 900px) {
  .media-row {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.5rem;
  }
}

/* @keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  .media-card {
    view-timeline-name: --item-timeline;
    animation: slide-fade-in 0.5s both;
    animation-timeline: --item-timeline;
    animation-range: contain 0% contain 50%;
  }
} */