.empty-icon {
  width: 100%;
  height: clamp(10rem, 25vh, 30rem);
  fill: var(--color-on-surface);
}

.media-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  @media (width < 765px) {
    margin-bottom: 80px;
  }
}

.text-center {
  text-align: center;
}

.center {
  // margin: auto;
  // align-content: center;
  // min-height: 70vh;
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animated-gradient {
  animation: animateBg 2s linear infinite;
  background-image: linear-gradient(
    135deg,
    var(--color-surface-container-highest),
    var(--color-surface-container-low),
    var(--color-surface-container-highest),
    var(--color-surface-container-low)
  );
  background-size: 100% 450%;
}

@keyframes animateBg {
  0% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.media-card h5 {
  display: none;
}
