.empty-icon {
  width: 100%;
  height: clamp(10rem, 25vh, 30rem);
  fill: var(--color-on-surface);
}

.media-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  @media (width < 765px) {
    margin-bottom: 80px;
  }
}

.text-center {
  text-align: center;
}

.center {
  // margin: auto;
  // align-content: center;
  // min-height: 70vh;
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(180px, 100%), 1fr));
  gap: 1rem;
  padding: 1rem;

  @media (width < 900px) {
    grid-template-columns: repeat(auto-fill, minmax(min(120px, 100%), 1fr));
    gap: 0.5rem;
    padding: 0.5rem;
  }
}

.media-card {
  /* min-height: 180px; */
  /* 120px (width) * 1.5 (aspect ratio) */
  /* aspect-ratio: 3 / 5;  */
  text-decoration: auto;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705); */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-image: url(../../assets/poster-sm.png);
  background-repeat: no-repeat;
  background-size: cover;
  view-transition-class: mediacard;
  aspect-ratio: 3 / 5;
}

.media-card label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.media-card-checkbox {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-surface-container-high);
  outline: 2px solid var(--color-primary);
  z-index: 2;
  /* border color */

  @media (width < 765px) {
    top: 0.25rem;
    left: 0.25rem;
    width: 1rem;
    height: 1rem;
  }
}

.media-card-checkbox:checked {
  outline: none;
  accent-color: var(--color-primary);
  /* tick color */
}

.media-card-checkbox:checked + label {
  border: 4px solid var(--color-primary);
  border-radius: 10px;
  overflow: hidden;
}

.media-card label p {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  background-color: var(--color-surface-container-low);
  color: var(--color-primary);
  padding: 0.5rem 0;
  margin: 0;
  /* Ensure no gap between image and text */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // border-radius: 0 0 6px 6px;
  view-transition-class: mediatitle;
}

.animated-gradient {
  animation: animateBg 2s linear infinite;
  background-image: linear-gradient(
    135deg,
    var(--color-surface-container-highest),
    var(--color-surface-container-low),
    var(--color-surface-container-highest),
    var(--color-surface-container-low)
  );
  background-size: 100% 450%;
}

@keyframes animateBg {
  0% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

/* .media-card img {
  width: 100%;
  border-radius: 10px;
} */

.media-card img {
  flex-grow: 1;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  // aspect-ratio: 2 / 3;
  // border-radius: 6px 6px 0 0;
  view-transition-class: mediaimage;
}

.media-card svg {
  position: absolute;
  top: 5px;
  height: 24px;
  width: 24px;
}

.media-card .monitored-icon,
.media-card .downloaded-icon {
  fill: var(--color-info);
  right: 5px;
}

.media-card .success {
  fill: var(--color-success);
}

.media-card h5 {
  display: none;
}

.media-card:hover {
  box-shadow: 0px 0px 10px 5px var(--color-outline);
}
