.media-header {
  display: flex;
  position: sticky;
  top: 76px;
  width: 100%;
  justify-content: flex-end;
  background-color: var(--color-surface-container-high);
  color: var(--color-on-surface);
  align-items: center;
  padding: 0 1rem;
  z-index: 99;

  @media (width < 765px) {
    position: fixed;
    top: auto;
    bottom: 78px;
    left: 0;
    right: 0;
  }

  .empty-space {
    flex: 1;
    margin: auto;
  }

}

.edit {
  justify-content: flex-start;
  gap: 1rem;

  @media (width < 765px) {
    gap: 0.5rem;
  }

  .count {
    font-weight: bold;
    color: var(--color-primary);

    @media (width < 765px) {
      span {
        display: none;
      }
    }
  }
}

.media-header-button {
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  padding: .75rem 0;

  .button-icon {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 0;
    margin: 0;
    padding: .25rem;
    fill: var(--color-on-surface);
  }

  @media (width < 765px) {
    span {
      display: none;
    }
  }
}

.media-header-button:hover:not(.delete) {
  color: var(--color-primary);

  svg {
    fill: var(--color-primary) !important;
  }
}

.delete {
  color: var(--color-error);

  svg {
    fill: var(--color-error) !important;
  }
}



.media-header-sortitem,
.media-header-filteritem {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-weight: bold;
  padding: 1rem;
  gap: 0.5rem;
}

.icon {
  margin: 0;
}

.empty-icon {
  width: 100%;
  height: clamp(10rem, 25vh, 30rem);
  fill: var(--color-on-surface);
}

.media-header-sortitem:hover,
.media-header-filteritem:hover,
.media-header-button:hover {
  background-color: var(--color-surface-container-highest);
}

.sortitem-dropdown,
.filteritem-dropdown {
  display: none;
  position: absolute;
  min-width: 8rem;
  top: 3.5rem;
  right: 0;
  background-color: var(--color-surface-container-highest);
  z-index: 100;
  box-shadow: 0.5rem 1rem 1rem 0px var(--color-shadow);

  @media (width < 765px) {
    top: auto;
    bottom: 3.5rem;
    box-shadow: 0.5rem -1rem 1rem 0 var(--color-shadow);
  }
}

.filteritem-dropdown {
  min-width: 11rem;
}

.media-header-sortitem:hover .sortitem-dropdown,
.media-header-filteritem:hover .filteritem-dropdown {
  display: flex;
  flex-direction: column;
}

.sortitem-dropdown-option,
.filteritem-dropdown-option {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-weight: 400;
  height: 2.75rem;
  padding: 0.5rem 0.25rem 0.5rem 0.75rem;
}

.sortitem-dropdown-option:hover,
.filteritem-dropdown-option:hover {
  background-color: var(--color-secondary-container);
  color: var(--color-primary);
}

.media-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  @media (width < 765px) {
    margin-bottom: 80px;
  }
}

.text-center {
  text-align: center;
}

.center {
  margin: auto;
  align-content: center;
  min-height: 70vh;
}

.media-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(180px, 100%), 1fr));
  gap: 1rem;
  padding: 1rem;

  @media (width < 900px) {
    grid-template-columns: repeat(auto-fill, minmax(min(120px, 100%), 1fr));
    gap: 0.5rem;
    padding: 0.5rem;
  }
}

.media-card {
  /* min-height: 180px; */
  /* 120px (width) * 1.5 (aspect ratio) */
  /* aspect-ratio: 3 / 5;  */
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705); */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-image: url(../../assets/poster-sm.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.media-card label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.media-card-checkbox {
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-surface-container-high);
  outline: 2px solid var(--color-primary);
  /* border color */

  @media (width < 765px) {
    top: 0.25rem;
    left: 0.25rem;
    width: 1rem;
    height: 1rem;
  }
}

.media-card-checkbox:checked {
  outline: none;
  accent-color: var(--color-primary);
  /* tick color */

}

.media-card-checkbox:checked+label {
  border: 4px solid var(--color-primary);
  border-radius: 10px;
}

.media-card label p {
  width: 100%;
  text-align: center;
  background-color: var(--color-surface-container-high);
  color: var(--color-primary);
  padding: .5rem 0;
  margin: 0;
  /* Ensure no gap between image and text */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0 0 6px 6px;
}

.animated-gradient {
  animation: animateBg 2s linear infinite;
  background-image: linear-gradient(135deg,
      var(--color-surface-container-highest),
      var(--color-surface-container-low),
      var(--color-surface-container-highest),
      var(--color-surface-container-low));
  background-size: 100% 450%;
}

@keyframes animateBg {
  0% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

/* .media-card img {
  width: 100%;
  border-radius: 10px;
} */

.media-card img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: 6px 6px 0 0;
}

.media-card svg {
  position: absolute;
  top: 5px;
  height: 24px;
  width: 24px;
}

.media-card .monitored-icon,
.media-card .downloaded-icon {
  fill: var(--color-info);
  right: 5px;
}

.media-card .success {
  fill: var(--color-success);
}

.media-card h5 {
  display: none;
}

.media-card:hover {
  box-shadow: 0px 0px 10px 5px var(--color-outline);
}