---
name: python test

on:
  pull_request:
    paths:
      - 'backend/**'
  workflow_dispatch:

jobs:
  run_python_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      
      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: uv pip install --no-cache --native-tls --system -r backend/pyproject.toml --group testing
      
      - name: Run tests
        run: cd backend && uv run python -m pytest tests
